* {
    box-sizing: border-box;
}
body {
    font-family: 'Graphik LCG', Sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.header {
    border-bottom: 1px solid #d9d9d9;
}
.header .wrap {
    width: 1340px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 24px 0;
}
.img-link {
    display: block;
}
.logo-link {
    width: 130px;
    margin-right: 51px;
}
.link {
    text-decoration: none;
    Font size: 15px;
    Line height: 20px;
    color: #000000;
}
.link:hover {
    color: rgb(41, 124, 124);
}
.navigation-list {
    display: flex;
}
.navigation-item {
    margin-right: 57px;
}
.navigation-item:last-of-type {
    margin-right: 0;
}
.navigation-button-body {
    display: flex;
    margin-left: auto;
}
.button-log-in {
    font-family: 'Graphik LCG', Sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    color: #000000;
    padding: 0 36px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}
.button-log-in:hover {
    background-color: wheat;
}
.navigation-link-try {
    font-family: 'Graphik LCG', Sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 43px;
    color: #FFFFFF;
    padding: 0 21px;
    background-color: #FF6336;
    text-decoration: none;
    border: 1px solid #FF6336;
}
.navigation-link-try:hover {
    background-color: wheat;
    color: #FF6336;
}
.delivery {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
    padding: 129px 0 172px 0;
    background-image: url(image/delivery.png);
    background-repeat: no-repeat;
    background-size: 759px 529px;
    background-position: 100% 46%;
}
.delivery-title {
    max-width: 560px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 51px;
}
.delivery-text {
    max-width: 475px;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
}
.delivery-button-body {
    display: flex;
    margin-bottom: 25px;
}
.delivery .navigation-link-try {
    line-height: 58px;
    padding: 0 41px 0 42px;
    margin-right: 10px;
}
.delivery .button-log-in {
    text-decoration: none;
    line-height: 58px;
    padding: 0 29px 0 28px;
    margin-right: 0;
}
.delivery-sub-text {
    font-size: 15px;
    line-height: 25px;
}
.companies {
    background-color: #FF9C7D;
    padding: 108px 0 105px 0;
}
.container {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}
.companies-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    max-width: 720px;
    text-align: center;
    margin-bottom: 69px;
}
.companies .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.companies-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.companies-link:hover {
    background-color: #e96840;
}
.companies-link {
    display: block;
}
.companies-img {
    vertical-align: top;
}
.app {
    padding: 90px 0 250px 0;
}
.app-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    max-width: 495px;
    margin-bottom: 30px;
}
.app-text {
    line-height: 30px;
    max-width: 495px;
    margin-bottom: 30px;
}
.start-now-link {
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    color: #000000;
}
.start-now-link:hover {
    color: rgb(41, 124, 124);
}
.app .container {
    padding: 151px 0;
    background-image: url(image/app.png);
    background-repeat: no-repeat;
    background-size: 632px 632px;
    background-position: right center;
}
.market .container {
    padding: 151px 0 115px 0;
    background-image: url(image/market.png);
    background-repeat: no-repeat;
    background-size: 632px 632px;
    background-position: left center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.market .app-title {
    max-width: 380px;
}
.market .app-text {
    max-width: 450px;
    margin-bottom: 36px;
}
.contact {
    padding: 250px 0;
}
.contact .container {
    background-image: url(image/contact.png);
    background-repeat: no-repeat;
    background-size: 632px 632px;
    background-position: right center;
    padding: 161px 0 166px 0;
}
.contact .app-text {
    margin-bottom: 35px;
}
.developers {
    padding: 0 0 150px 0;
}
.developers .container {
    background-image: url(image/developers-code.png);
    background-repeat: no-repeat;
    background-size: 632px 577px;
    background-position: left center;
    padding: 123px 0 124px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.developers .app-title {
    margin-bottom: 33px;
}
.developers .app-text {
    max-width: 520px;
    margin-bottom: 27px;
}
.localize {
    padding: 120px 0 72px 0;
    background-color: #FFF8E4;
}
.localize-link {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    margin-bottom: 20px;
}
.localize-link:hover {
    color: rgb(41, 124, 124);
}
.localize-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 79px;
}
.localize-list {
    display: flex;
    flex-wrap: wrap;
}
.localize-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 160px 120px;
    background-position: top center;
    padding-top: 146px;
    width: 330px;
    margin-right: 100px;
    margin-bottom: 75px;
}
.localize-text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
.web-apps {
    background-image: url(image/web-apps.png);
}
.mobile-apps {
    background-image: url(image/mobile-apps.png);
}
.games {
    background-image: url(image/games.png);
}
.documents {
    background-image: url(image/documents.png);
}
.markering-e-mails {
    background-image: url(image/markering-e-mails.png);
}
.lot {
    background-image: url(image/lot.png);
}
.boost-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
}
.boost .container {
    padding: 154px 0 187px 0;
}
.boost-title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;}
.boost-list {
    display: flex;
}
.boost-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 325px;
    width: 409px;
    margin-right: 31px;
}
.managers-img {
    background-image: url(image/managers.png);
    background-repeat: no-repeat;
    background-size: 145px 201px;
    background-position: 0px 50px;
}
.developers-img {
    background-image: url(image/developers.png);
    background-repeat: no-repeat;
    background-size: 179px 166px;
    background-position: 0px 92px;
}
.translators-img {
    background-image: url(image/translators.png);
    background-repeat: no-repeat;
    background-size: 179px 183px;
    background-position: 0px 84px;
}
.boost-item:last-child {
    margin-right: 0;
}
.boost-sub-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 34px;
}
.boost-text {
    line-height: 30px;
    margin-bottom: 25px;
}
.boost-link {
    line-height: 30px;
    color: #000000;
}
.boost-link:hover {
    color: rgb(41, 124, 124);
}
.rate {
    background-color: #DABC98;
}
.rate .container {
    padding: 80px 0 84px 243px;
    background-image: url(image/cake.png);
    background-repeat: no-repeat;
    background-size: 176px 154px;
    background-position: 0 90px;
    display: flex;
    align-items: center;
}
.rate-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    margin-right: 124px;
    max-width: 461px;
}
.rate-body-text {
    border-left: 1px solid #000000;
    display: flex;
    justify-content: center;
    padding: 0 0 23px 70px;
}
.rate-text {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    margin-right: 20px;
    padding: 120px 50px 0 0;
}
.rate-text:last-child {
    margin-right: 0;
}
.users-love {
    background-image: url(svg/G2.svg);
    background-repeat: no-repeat;
    background-size: 128px 77px;
    background-position: 0 30px;
}
.highest-rated {
    background-image: url(svg/capterra.svg);
    background-repeat: no-repeat;
    background-size: 150px 77px;
    background-position: 0 30px;
}
.chief {
    background-color: #C9E8F2;
}
.chief .container {
    display: flex;
    padding: 53px 0 105px 0;
}
.chief-body-text {
    margin-top: 10px;
}
.chief-text {
    font-size: 30px;
    line-height: 40px;
    max-width: 895px;
    margin: 0 85px 23px 0;
}
.chief-title {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 7px;
}
.integrate .container {
    padding: 165px 0 162px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.integrate-title {
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    max-width: 791px;
}
.integrate-text {
    max-width: 540px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 25px;
}
.integrate-img {
    width: 1023px;
    height: 445px;
    margin-bottom: 32px;
}
.integrate .navigation-link-try {
    line-height: 58px;
    padding: 0 20px;
}
.why-wait {
    background-color: #FF9C7D;
}
.why-wait .container {
    padding: 119px 0 161px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.why-wait .integrate-title {
    max-width: 784px;
    margin-bottom: 29px;
}
.why-wait-text {
    line-height: 30px;
    text-align: center;
    margin-bottom: 54px;
}
.why-wait-link {
    background-color: #000000;
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 41px 0 42px;
    text-decoration: none;
}
.why-wait-link:hover {
    background-color: #FFFFFF;
    color: #000000;
}